.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 660px;
  border: 2px solid blue;
}
.navbaritems {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.nabar-link {
  text-decoration: none;
  color: black;
  font: bold;
  font-weight: 500;
  font-size: 18px;
}
.nabar-link:hover {
  color: rgb(77, 243, 0);
}

/* to active Navbar */
/* .navbaritems .active{
color: red;
} */

.App-logo {
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
